body{

    scrollbar-width: none;
    /*background-image: url('../../../assets/images/caca.png');*/
    background-color: #162e31;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto cover;
}




.fredokafont{
    font-family: "Fredoka";
    color:white;
}

.fredokafontsmall{
    font-family: "Fredoka";
    font-weight:450;
    color:white;
    text-shadow: #000000CF 1px 1px 1px;

}


.rating{
    width:9rem;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}
.ranking{
    padding-left:1rem;
    width:0.5rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}



.flagmargin{

    width:32.7rem;
    text-align:left;
}


.playername{
    width:7rem;
    text-align:center;


}

table{
    z-index: 2;
    border-collapse:separate;
    border-spacing:0 5px;
    position:absolute;
    top:45%;
    left:21.6%;



}

.countryflag{
    border-radius: 3px;

}

td,th {

    gap:5px;
    background-color: #3b7985;
    padding-top: 0.2rem;
    padding-left: 0.2rem;

}

.headerline{

    background-color:transparent;
}

tr>td{

    padding-bottom: 0.2rem;


}

.bgcolor{
    z-index: 2;
    border-radius: 15px;
    position:absolute;
    top:35%;
    left:18.9%;
    width:75rem;
    height:123rem;
    background: #62A8AC;
    box-shadow: #000000C8 5px 5px 0;

}

.bgcolor2{
    z-index: 1;
    border-radius: 15px;
    position:absolute;
    top:22%;
    left:18.9%;
    width:32rem;
    height:123rem;
    background: #3D7779FF;
    box-shadow: #000000C8 5px 5px 0;

}

.headertext{
    position: absolute;
    z-index:2;
    font-family: "Fredoka";
    color:white;
    font-size:4rem;
    text-shadow: #000000CF 1px 1px 1px;
    top:35%;
    left:34%;

}

.littlestar{
    position: absolute;
    z-index:3;
    top:22%;
    left:42.3%;
    rotate: 20deg;
    font-size: 40px;
}
.littlestar2{
    position: absolute;
    z-index:4;
    top:5%;
    left:67%;
    rotate: 10deg;
    font-size: 120px;
}


.rgb{
    background: linear-gradient(
    to right,
    rgb(191 0 255),
    rgb(12 59 247),
    rgb(0 255 208),
    rgb(55 255 0),
    rgb(255 221 0),
    rgb(255 0 0),
    rgb(191 0 255)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: GradientAnimation 3s linear infinite;
    text-shadow: none !important;
}
@keyframes GradientAnimation {
 0%{
    background-position: 200% 50%;
 }
 100%{

     background-position: 0% 50%
    }
}

.gold{
    color: #f7ff3c;
    text-shadow: none !important;
}

.silver{
    color: silver;
    text-shadow: none !important;
}

.bronze{
    color: #c4951f;
    text-shadow: none !important;
}
.globalaccuracy{
    text-align:center;
}

.totalplaycount{

    text-align: center;
    width:10rem;
}

.xplevel{
    text-align: center;
    width:2rem;
}

.boutong{
    color:white;
}

.boutong:hover {
    color: #FFE670FF;
    scale: 1.1;
    transition: 0.2s;
}

.sticky-header {

    z-index: 100;
    position: fixed;
    top:0;
    background-color: #57476f;
    border-bottom: 5px solid #43E1EFFF;
}

.tokens{
    position: relative;
    z-index: 3;
    height: 2rem;
    width: 2rem;

}

.tokensnumber{
    color: white;
    font-weight: bold;
    font-family: "Fredoka";
    font-size: 1.5rem;
    text-align: right;
}

.shopkart{
    position: relative;
    z-index: 3;
    height: 2rem;
    width: 2rem;
    right:4.5rem;
    bottom: 4px;
}



.shopkarthoversvg:hover .shopkarthover{
    stroke:#FFE670FF;
    transition: 0.2s;

}


.tokensbg{
    padding-top: 2.5px;
    padding-right: 5px;
    position:relative;
    right:3.8rem;
    background-color: #20B2B479;
    border-radius:10px;
    width: 7.5rem;
    height: 2.5rem;

}

.bomboclat{
    z-index: 3;
    position: absolute;
    top:12.1%;
    left:57%;
}






























.keymodefilter{
    z-index: 3;
    position: absolute;
    top:18rem;
    left:24rem;
    font-family: "Fredoka";
    color:white;
    font-weight: bold;
    background-color: #3b7985;
    border-radius:10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: white solid 2px;
    box-shadow: #0E2A0C88 3px 3px 0;
    font-size: large;

}

.countryfilter{
    z-index: 3;
    position: absolute;
    top:18rem;
    left:32rem;
    font-family: "Fredoka";
    color:white;
    font-weight: bold;
    background-color: #3b7985;
    border-radius:10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: white solid 2px;
    box-shadow: #0E2A0C88 3px 3px 0;
    font-size: large;
}

.countryleaderboards{
    z-index: 3;
    position: absolute;
    top:14.5rem;
    left:24.3rem;
    font-family: "Fredoka";
    color:white;
    font-weight: bold;
    background-color: #3b7985;
    border-radius:10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: white solid 2px;
    box-shadow: #0E2A0C88 3px 3px 0;
    font-size: large;
}

.leaderboardtype{
    z-index: 3;
    position: absolute;
    top:18rem;
    left:43rem;
    font-family: "Fredoka";
    color:white;
    font-weight: bold;
    background-color: #3b7985;
    border-radius:10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: white solid 2px;
    box-shadow: #0E2A0C88 3px 3px 0;
    font-size: large;
}

.friendsranking{
    z-index: 3;
    position: absolute;
    top:14.5rem;
    left:35rem;
    font-family: "Fredoka";
    color:white;
    font-weight: bold;
    background-color: #3b7985;
    border-radius:10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: white solid 2px;
    box-shadow: #0E2A0C88 3px 3px 0;
    font-size: large;
}


