:root{
    /* TODO: How to better implement this ? */
    --main-color: pink;
    --secondary-color: lightblue;

    /* TODO: How to better implement this ? */
    --main-h: 350;
    --main-s: 100.0%;
    --main-l: 87.6%;

    --secondary-h: 195;
    --secondary-s: 53.3%;
    --secondary-l: 79.0%;

    --main-hsl: var(--main-h), var(--main-s), var(--main-l);
    --secondary-hsl: var(--secondary-h), var(--secondary-s), var(--secondary-l);
    --dark-main-hsl: var(--main-h), var(--main-s), 7.5%;
    --light-main-hsl: var(--main-h), var(--main-s), 97.5%;
    --secondary-text-hsl: var(--main-h), var(--main-s), 7.5%;
}