RewriteEngine On

# /dossier/page/id -> /dossier/page.html
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+)/[^/]+/?$ $1.html [L]

# /dossier/page -> /dossier/page.html
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ $1.html [L]