################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/obj/
secrets
avatars
banners
bg
/data
/b2AuthorizeCfWorker_local.py
docker-compose-nomaps.yml
